html{
	background: #000 url(img/skyline.jpg) no-repeat fixed;
	height:100%;
}

body{
	height:100%;
	background: rgba(0,0,0,0);
}

.jumbotron{
	background: url(img/header.png) no-repeat;
	background-position:center center;
	background-color:black;
	color:white;
	margin-bottom:0;
}

#midnav{
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.titles{
	opacity:0;
}

#nav{
	color:white;
}

@media (max-width:1200px){
	.titles{
		opacity:1;
	}
}
@media (max-width:1200px){
	
	#header{
		background-color:rgba(0,0,0,0.8);
	}
}

#subannc, #teamers div table tr, #standers div table tr, #schedulers div table tr, #staters div table tr, #matchhistory div table tr{
	color:#e5e5e5;
}

#csle a, #eventers a{
	text-decoration:none;
}

#announcements{
	margin-top:10px;
	color:white;
	display:none;
	padding-bottom:20px; /*remove once more announcements are added*/
}

.pager li a{
	color:#333;
}

#botnav{
	margin-top:20px;
}

h2 small{
	font-size:16px;
}

.block{
	padding:5px 40px 10px 40px;
	border-style:solid;
	border-width:1px;
	border-color:white;
	border-radius:10px;
	background-color:rgba(0,0,0,0.9);
}

#schedulers h1, .event h2, .event h5, #staters h2, #staters h3, #teamers h1, #standers h1, #eventers h1, #staffers h1, #csle h1, #staters h1, #csle p{
	color:white;
}

#teamers, #standers, #schedulers, #csle, #staffers, #eventers, #staters, #matchhistory{
	display:none;
	margin-bottom:40px;
}

.statgif{
	width:240px;
	height:200px;
}

#topstats{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:center;
	margin-top:30px;
}

#eventers p{
	margin-top:20px;
	color:#e5e5e5;
}

.stat{
	display:flex;
	flex-direction:column;
	padding:0 40px 0 40px;
}

.profiles{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;

}

.pic{
	width:250px;
	height:250px;
	border: solid 1px white;
	object-fit:cover;
}

.person{
	padding:20px;
	color:white;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

#topstats h4{
	color:#d6d6d6;
	margin-top:0;
	margin-bottom:30px;
}

.event{
	padding:20px;
	border-radius:20px;
	margin-bottom:20px;
}

#footer a, #footer p{
	text-decoration:none;
	color:#878787;
	margin-bottom:0;
}

#footer a p{
	margin-bottom:50px;
}

#footer{
	margin-top:40px;
	bottom:0;
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	align-items:center;
}

#presser{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:center;
}

#fb{
	width:30px;
	height:auto;
	margin-right:3px;
}
#discord{
	width:40px;
	height:auto;
	margin-top:-3px;
	margin-left:3px;
}
#matchhistory{
	color:white;
}
/*TO UPDATE REGULARLY*/

.over{
	background-color:rgba(255, 0,29, 0.2);
}

.available{
	background-color:rgba(0, 255, 72, 0.2);
}