html{
	background: #000 url(img/skyline.jpg) no-repeat fixed;
	height:100%;
}

body{
	height:100%;
	background: rgba(0,0,0,0);
	color:white;
}

.jumbotron{
	background: url(img/header.png) no-repeat;
	background-position:center center;
	background-color:black;
	color:white;
	margin-bottom:0;
}

#midnav{
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

#nav li a .caret{
	border-top:4px solid white;
}
/* navbar */
.navbar-default {
    background-color: rgba(255,255,255,0.3);
    border-color: rgba(255,255,255,0.1);
}
/* title */
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ddd;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color:rgba(255,255,255,0.1);
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: rgba(255,255,255,0.3);
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: rgba(255,255,255,0.2);
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}

h1, h2{
	font-family: 'Roboto Condensed', sans-serif;
}
#nav{
	font-size:15px;
	color:white;
}
#nav{
	font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width:767px){
	
	.jumbotron{
		background:url(img/header_dark.png) no-repeat center center;
	}
}

#subannc, #teamers div table tr, #standers div table tr, #schedulers div table tr, #staters div table tr, #matchhistory div table tr{
	color:#e5e5e5;
}

#csle a, #eventers a{
	text-decoration:none;
}

#connect{
	text-decoration:none;
	color:#e5e5e5;
}
.tab { margin-left: 10px; }

#announcements{
	margin-top:10px;
	color:white;
	display:none;
	padding-bottom:20px; /*remove once more announcements are added*/
}

.pager li a{
	color:#333;
}

#botnav{
	margin-top:20px;
}

h2 small{
	font-size:16px;
}

.block{
	padding:5px 40px 10px 40px;
	border-style:solid;
	border-width:1px;
	border-color:white;
	border-radius:10px;
	background-color:rgba(0,0,0,0.9);
}

#schedulers h1, .event h2, .event h5, #staters h2, #staters h3, #teamers h1, #standers h1, #eventers h1, #staffers h1, #csle h1, #staters h1, #csle p, #playoffs h1{
	color:white;
}

#teamers, #standers, #schedulers, #csle, #staffers, #eventers, #staters, #matchhistory, #playoffs{
	display:none;
	margin-bottom:40px;
}

.statgif{
	width:240px;
	height:200px;
}

#topstats{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:center;
	margin-top:30px;
}

#eventers p{
	margin-top:20px;
	color:#e5e5e5;
}

.stat{
	display:flex;
	flex-direction:column;
	padding:0 40px 0 40px;
}

.profiles{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;

}

.pic{
	width:250px;
	height:250px;
	border: solid 1px white;
	object-fit:cover;
	border-radius:12px;
}

.person{
	padding:20px;
	color:white;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

#topstats h4{
	color:#d6d6d6;
	margin-top:0;
	margin-bottom:30px;
}
#midnav div a p{
	font-family: 'Roboto Condensed', sans-serif;
}
.event{
	padding:20px;
	border-radius:20px;
	margin-bottom:20px;
	padding-top:7px;
}

#footer a, #footer p{
	text-decoration:none;
	color:#878787;
	margin-bottom:0;
}

#footer a p{
	margin-bottom:40px;
}

#footer center{
	text-decoration:none;
	color:#878787;
	margin-bottom:0;
}

#footer{
	margin-top:40px;
	bottom:0;
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	align-items:center;
}

#presser{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:center;
}

#fb{
	width:30px;
	height:auto;
	margin-right:3px;
	transition:0.3s;
}
#discord{
	width:40px;
	height:auto;
	margin-top:-3px;
	margin-left:3px;
	transition:0.3s;
}
#fb:hover, #discord:hover{
	opacity:0.3;
}
#matchhistory{
	color:white;
}
/*TO UPDATE REGULARLY*/

.over{
	background-color:rgba(255, 0,29, 0.2);
}

.available{
	background-color:rgba(0, 255, 72, 0.2);
}